.App {
  text-align: center;
}

h1 {
  font-size: 32pt;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input {
  padding: 4px;
  border-radius: 10px;
  border: solid black 1px;
  box-shadow: 0 0 black;
  text-align: center;
  width: 200px;

  transition: box-shadow .2s;
}

div.CardListContainer {
  display: inline-block;
}

input:focus {
  outline: none;
  box-shadow: 0 2px 10px #0000007e;
}